.container1
{
   
    margin :auto;
    width:40%;
    text-align: center;
     padding: 50px;  
     background-color: rgba(172, 169, 185, 0.897);
   border-left:20%;
  align-content: center;
    /* padding: 30px;
    width: 30%;
    top:50%;
    align-content: flex-end;
    margin-left:35%;
    margin-top: 10%;
        margin-bottom: auto;
    background-color: rgba(172, 169, 185, 0.897);
     */

}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
input[type=text],
input[type=password]

{
    width: 70%;
    padding: 15 px;
    height:30px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus,input[type=password]:focus
{
    background-color:rgb(216, 192, 189);
    color:black;
    outline: none;
}
.buttonclick
{
    border-radius: 10px;
    width:auto;
    padding:  10px;
    color:black;
    background-color: rgb(155, 197, 204);
    border: none;
}
.buttonlogin
{

    border-radius: 15px;
    width:auto;
    padding:  15px;
    color:black;
    background-color: rgb(120, 94, 238);
    border: none;
}